:root {
    --clr-bright-blue: 245 75% 52%;
    --clr-pale-blue: 225 100% 94%;

    --clr-lightest-blue: 225 100% 98%;
    --clr-desaturated-blue: 224 23% 55%;
    --clr-gray-blue: 223 47% 23%;

    --clr-off-white: 228 100% 99%;
    --clr-hover-state: 245 83% 68%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
    background-color: hsl(var(--clr-lightest-blue));
    font-family: 'Red Hat Display', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 20.4375rem;
    height: 35.4375rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
    margin-block: 2em;
}

.title {
    margin-block-start: 1.5em;
    color: #1F2E55;
    text-align: center;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

img {
    border-radius: 1.25rem 1.25rem 0 0;
}

.plan-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(var(--clr-off-white));
    margin: .5em 2em 1em 2em;
    padding: 1em;
    border-radius: 0.6875rem;
}

.plan-link {
    cursor: pointer;
    color: hsl(var(--clr-bright-blue));
    font-weight: 700;
    font-size: 0.8125rem;
}

.plan {
    color: hsl(var(--clr-gray-blue));
    font-weight: 900;
    margin-block-start: 0;
}

.price {
    margin-block: 0;
}

.section-one {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.text {
    color: #717FA6;
    text-align: center;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5625rem;
    line-height: 25px;
    font-size: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 1em;
}

.payment-btn {
    width: 17.4375rem;
    padding: 1em;
    border-radius: 0.6875rem;
    background: hsl(var(--clr-bright-blue));
    color: #FFF;
    box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
}

.cancel-btn {
    border: none;
    background-color: hsl(var(--clr-lightest-blue) / 0);
    color: hsl(var(--clr-desaturated-blue));
    font-weight: 900;
    font-size: 0.9375rem;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

@media (min-width: 40rem) {
    .container {
        width: 28.125rem;
        height: 43.5625rem;
        flex-shrink: 0;
    }

    .title {
        font-size: 1.75rem;
    }

    .text {
        padding-inline: 2.5em;
        font-size: 1em;
        line-height: 1.625rem;
    }

    .plan-section {
        margin-block: 2em;
        padding: 2em;
        align-items: center;
    }

    .plan-link:hover {
        text-decoration: none;
    }

    button:hover {
        cursor: pointer;
    }
    
    .payment-btn:hover {
        background-color: hsl(var(--clr-hover-state));
    }

    .buttons {
        padding-block: 0;
    }

    .payment-btn {
        width: 22.125rem; 
    }
}